<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Lista de Seções</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1 th:replace="~{fragments/h1-lista :: lista(nome='de Seções')}" > </h1>
<div class="container-link">
    <a href="/secao/novo">Adicionar Nova Seção</a>
</div>

<div>
    <h1>Buscar Seção pela identificação e identificação do Pátio:</h1>
    <form th:action="@{/secao/buscarSecaoPorNomeEPatio}" method="get">
        <label for="patio">Pátio:</label>
        <select id="patio" name="identificacaoPatio" required>
            <option value="">-- Selecione um pátio --</option>
            <option th:each="secao : ${secoes}"
                    th:value="${secao.patio.identificacao}"
                    th:text="${secao.patio.identificacao}">
            </option>
        </select>

        <label for="secao">Seção:</label>
        <select id="secao" name="identificacao" required>
            <option value="">-- Selecione uma seção --</option>
            <option th:each="secao : ${secoes}"
                    th:value="${secao.identificacao}"
                    th:text="${secao.identificacao}">
            </option>
        </select>
        <button type="submit">Buscar</button>
    </form>
</div>


<ul>
    <li th:each="secao : ${secoes}">
        <h2 th:text="${secao.identificacao}">Identificação da Seção:</h2>
        <p th:text="${secao.patio.identificacao}">Identificação do Pátio</p>

        <form th:action="@{'/secao/' + ${secao.identificacao} + '/' + ${secao.patio.identificacao}}"
              method="post" style="display:inline;">
            <input type="hidden" name="_method" value="delete" />
            <button type="submit" onclick="return confirm('Tem certeza que deseja deletar?')">Deletar</button>
        </form>


    </li>
</ul>
</body>
</html>
