<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashbord Admin</title>
    <link rel="stylesheet" th:href="@{/css/dashbords.css}">

</head>
<body>
    <header>
        <h1>Página ADMIN</h1>
        <p>Olá, <span th:text="${nomeAdmin}">Admin</span>!</p>
        <div th:replace="~{fragments/logout :: logoutButton}"></div>
    </header>
    <nav>
        <a href="/admin">Administradores</a>
        <a href="/motoqueiro">Motoqueiros</a>
        <a href="/patio">Pátios</a>
        <a href="/secao">Seções</a>
        <a href="/vaga">Vagas</a>
        <a href="/moto">Motos</a>
    </nav>

    <footer>
        <p>Footer Content &copy; 2024</p>
    </footer>
</body>
</html>
