<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashbord Motoqueiro</title>
    <link rel="stylesheet" th:href="@{/css/dashbords.css}">
</head>
<body>
    <header>
        <h1>Página Motoqueiro</h1>
        <div th:replace="~{fragments/logout-motoqueiro :: logoutButtonMotoqueiro}"></div>
    </header>
    <main>
        <h2>Informações do Motoqueiro</h2>
        <div class="motoqueiro-card">
            <div class="info-item"><strong>Nome:</strong> <span th:text="${motoqueiro.nomeUser}">Nome</span></div>
            <div class="info-item"><strong>Email:</strong> <span th:text="${motoqueiro.email}">Email</span></div>
            <div class="info-item"><strong>CNH:</strong> <span th:text="${motoqueiro.cnh}">CNH</span></div>
            <div class="info-item"><strong>Data de Aniversário:</strong> <span th:text="${motoqueiro.dataAniversario}">Data Aniversário</span></div>
            <div class="info-item"><strong>CPF:</strong> <span th:text="${motoqueiro.cpfUser}">CPF</span></div>
            <div class="info-item"><strong>Endereço:</strong> <span th:text="${motoqueiro.endereco.getLogradouro()}">Endereço</span></div>
            <form th:action="@{'/motoqueiro/editar/fechada/' + ${motoqueiro.cpfUser}}" method="get" style="display:inline;">
                <button class="homeButtom" type="submit">Atualizar</button>
            </form>
        </div>
    </main>

    <footer>
        <p>Footer Content &copy; 2024</p>
    </footer>
</body>
</html>
